<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cryptos App: {{pageTitle}}</title>
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />

</head>
<body>
    <header>
        <div class="container">
            MyCryptos App 
        </div>
        
    </header>
    <nav class="container">
        <ul>
            {% if page == "Inicio" %}
                <li>Inicio</li>
                <li> <a href="/purchase">Compra</a> </li>
                <li> <a href="/status">Estado</a> </li>
            {% endif %}
            {% if page == "Compra" %}
                <li><a href="/">Inicio</a></li>
                <li> Compra </li>
                <li> <a href="/status">Estado</a> </li>
            {% endif %}
            {% if page == "Estado" %}
                <li><a href="/">Inicio</a></li>
                <li> <a href="/purchase">Compra</a> </li>
                <li> Estado </li>
            {% endif %}
        </ul>
    </nav>
    <section class="container">
        {% block section %}
        {% endblock %}

    </section>
    <footer>
        <div class="container">
            &copy; 2023 - Todos los derechos reservados
        </div>
    </footer>
    
</body>
</html>