{% extends "base.html" %}
{% block section %}
<h1>MOVIMIENTOS</h1>
{% if data %}
<table role="grid">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>From</th>
            <th>Q (From)</th>
            <th>To</th>
            <th>Q (To)</th>
            <th>P.U.</th>
            
        </tr>    
    </thead>
    <tbody>

        {% for registro in data %}
        <tr>
            <td>{{registro.date}}</td>
            <td>{{registro.time}}</td>
            <td>{{registro.moneda_from}}</td>
            <td>{{registro.cantidad_from}}</td>
            <td>{{registro.moneda_to}}</td>
            <td>{{registro.cantidad_to}}</td>
            <td>{{registro.pu}}</td>
        </tr>
        {% endfor %}
    </tbody>
    
    
</table>
{% else %}
    <h3>No existen datos de movimientos</h3>

{% endif %}

{% endblock %}