{% extends "base.html" %}
{% block section %}
<h1>MOVIMIENTOS</h1>

<table role="grid">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Moneda_from</th>
            <th>Cantidad_from</th>
            <th>Moneda_to</th>
            <th>Cantidad_to</th>
        </tr>    
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    
    
</table>

{% endblock %}