{% extends "base.html" %}
{% block section %}
<h1>COMPRA DE CRYPTOS</h1>

<form action="/purchase" method="post">
    <div class="grid">
    
        <!-- Markup example 1: input is inside label -->
        <label for="moneda_from">
            From:
            <select id="moneda_from" name="moneda_from">
            <option value="{{dataForm.moneda_from}}" selected>Seleccione moneda</option>
            <option value="EUR" {% if dataForm.moneda_from == "EUR" %} selected {% endif%}>EUR</option>
            <option value="BTC" {% if dataForm.moneda_from == "BTC" %} selected {% endif%}>BTC</option>
            <option value="USDT" {% if dataForm.moneda_from == "USDT" %} selected {% endif%}>USDT</option>
            <option value="ETH" {% if dataForm.moneda_from == "ETH" %} selected {% endif%}>ETH</option>
            <option value="BNB" {% if dataForm.moneda_from == "BNB" %} selected {% endif%}>BNB</option>
            <option value="ADA" {% if dataForm.moneda_from == "ADA" %} selected {% endif%}>ADA</option>
            <option value="DOT" {% if dataForm.moneda_from == "DOT" %} selected {% endif%}>DOT</option>
            <option value="MATIC" {% if dataForm.moneda_from == "MATIC" %} selected {% endif%}>MATIC</option>
            <option value="XRP" {% if dataForm.moneda_from == "XRP" %} selected {% endif%}>XRP</option>
            <option value="SOL" {% if dataForm.moneda_from == "SOL" %} selected {% endif%}>SOL</option>
            </select>
        </label>

          
        <label for="moneda_to">
            To
            <select id="moneda_to" name="moneda_to">
            <option value="{{dataForm.moneda_to}}" selected>Seleccione moneda</option>
            <option value="EUR" {% if dataForm.moneda_to == "EUR" %} selected {% endif%}>EUR</option>
            <option value="BTC" {% if dataForm.moneda_to == "BTC" %} selected {% endif%}>BTC</option>
            <option value="USDT" {% if dataForm.moneda_to == "USDT" %} selected {% endif%}>USDT</option>
            <option value="ETH" {% if dataForm.moneda_to == "ETH" %} selected {% endif%}>ETH</option>
            <option value="BNB" {% if dataForm.moneda_to == "BNB" %} selected {% endif%}>BNB</option>
            <option value="ADA" {% if dataForm.moneda_to == "ADA" %} selected {% endif%}>ADA</option>
            <option value="DOT" {% if dataForm.moneda_to == "DOT" %} selected {% endif%}>DOT</option>
            <option value="MATIC" {% if dataForm.moneda_to == "MATIC" %} selected {% endif%}>MATIC</option>
            <option value="XRP" {% if dataForm.moneda_to == "XRP" %} selected {% endif%}>XRP</option>
            <option value="SOL" {% if dataForm.moneda_to == "SOL" %} selected {% endif%}>SOL</option>
            </select>
        </label>
    </div>

    <div class="grid">
        <label for="cantidad_from">
            Q (From):
            <input type="number" id="cantidad_from" name="cantidad_from" value="{{cantidad_from}}" placeholder="Introduzca cantidad en moneda from" step="0.01" >
            </label>

            <input type="submit" id ="calcular" name ="calcular" value="Calcular">

        <label for="cantidad_to">
            Q (To):
            <input type="number" id="cantidad_to" name="cantidad_to" readonly value="{{cantidad_to}}" placeholder="Presione la calculadora" step="0.01">
            </label>

        <label class="contrast" for="pu">
            PU:
            <input type="number" id="pu" name="pu" readonly value="{{pu}}" placeholder="Precio unitario" step="0.01" >
            </label>
    </div>
    
    <input type="submit" id ='operar' name = 'operar' value="Operar">
     
</form>

<div>
    <ul class ="errors">
        {% for item in msgError %}
        <li>{{item}}</li>
        {% endfor %}

    </ul>

</div>


{% endblock %}