{% extends "base.html" %}
{% block section %}
<h1>COMPRA DE CRYPTOS</h1>

<form action="">
    <div class="grid">
    
        <!-- Markup example 1: input is inside label -->
        <label for="moneda_from">
        From:
        <input type="text" id="moneda_from" name="moneda_from" placeholder="Moneda from" required>
        </label>
    
        <label for="moneda_to">
            To</label>
        <select id="moneda_to" required>
        <option value="" selected>Select a coin</option>
        <option>EUR</option>
        <option>BTC</option>
        <option>USDT</option>
        <option>ETH</option>
        </select>
    </div>

    <div class="grid">
        <label for="Q (From)">
            Q (From):
            <input type="text" id="cantidad_from" name="cantidad_from" placeholder="Last name" required>
            </label>

            <a href="#">
            <span class="material-symbols-outlined">
                calculate
                </span>
            </a>

        <label for="Q (To)">
            Q (To):
            <input type="text" id="cantidad_to" name="cantidad_to" placeholder="Last name" required>
            </label>
    </div>
    
    <button type="submit">Submit</button>
    

</form>

{% endblock %}