{% extends "base.html" %}
{% block section %}
<h1>COMPRA DE CRYPTOS</h1>

<form action="/purchase" method="post">
    <div class="grid">
    
        <!-- Markup example 1: input is inside label -->
        <label for="moneda_from">
            From:
            <select id="moneda_from" name="moneda_from">
            <option value="" selected>Seleccione moneda</option>
            <option>EUR</option>
            <option>BTC</option>
            <option>USDT</option>
            <option>ETH</option>
            <option>BNB</option>
            <option>ADA</option>
            <option>DOT</option>
            <option>MATIC</option>
            </select>
        </label>
    
        <label for="moneda_to">
            To
            <select id="moneda_to" name="moneda_to">
            <option value="" selected>Seleccione moneda</option>
            <option>EUR</option>
            <option>BTC</option>
            <option>USDT</option>
            <option>ETH</option>
            <option>BNB</option>
            <option>ADA</option>
            <option>DOT</option>
            <option>MATIC</option>
            </select>
        </label>
    </div>

    <div class="grid">
        <label for="cantidad_from">
            Q (From):
            <input type="number" id="cantidad_from" name="cantidad_from" placeholder="Introduzca cantidad en moneda from" step="0.01" >
            </label>

            <a class="calcular" href="#">
                <span class="material-symbols-outlined">
                    calculate
                    </span>
                    <small>Calcular</small>
                </a>

        <label for="cantidad_to">
            Q (To):
            <input type="number" id="cantidad_to" name="cantidad_to" placeholder="Presione la calculadora" step="0.01">
            </label>
    </div>
    
    <button type="submit" value="Guardar">Realizar operación</button>
    
</form>

<div>
    <ul >
        {% for item in msgError %}
        <li>{{item}}</li>
        {% endfor %}

    </ul>

</div>


{% endblock %}