{% extends "base.html" %}
{% block section %}
<h1>ESTADO DE LA INVERSION</h1>

<form action="/status" method="post">
    <section>
        <br>
        <label for="invertido">
            Invertido:
            <input type="number" id="invertido" name="invertido" readonly value="{{invertido}}"  step="0.01" >
            </label>
        
        <label for="recuperado">
            Recuperado:
            <input type="number" id="recuperado" name="recuperado" readonly value="{{recuperado}}" step="0.01">
            </label>
    
        <label for="valor_compra">
            Valor de compra:
            <input type="number" id="valor_compra" name="valor_compra" readonly value="{{valor_compra}}" step="0.01">
            </label>
    
        <label for="valor_actual">
            Valor actual:
            <input type="number" id="valor_actual" name="valor_actual" readonly value="{{valor_actual}}" step="0.01">
            </label>
        
        <label for="resultado">
            Ganancia o Pérdida:
            <input type="number" id="resultado" name="resultado" readonly value="{{resultado}}" class="{{ 'positive' if resultado >= 0 else 'negative' }}" step="0.01">

            </label>

    </section>
  
    <a href="javascript:history.back()">Volver</a>
    
    
</form>

    
</table>

{% endblock %}